<h3>You are not allowed to view this page, please accept the charges</h3>
<%= link_to "Accept Charges", "https://apps.shopify.com/shopify-example", :class => "btn btn-default btn-md", :target => "_blank" %>